#Admin_Header {
    /*position: absolute;*/
    width: 315px;
    height: 56px;
    /*left: 455px;
    top: 108px;*/
    border: none;
    font-family: Roboto;
    font-style: normal;
    font-weight: 500;
    font-size: 48px;
    line-height: 56px;
    /*text-align: center;*/
    color: #000000;
  }

  #event_button{
    width: 287px;
    height: 101px;
    /*left: 637px;
    top: 210px;*/

    background: #c50a0a;
    opacity: 0.3;
    border-radius: 100px;
    padding: 100px;
  }

  .function_buttons {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 10px;
    grid-auto-rows: 100px;
    justify-content: space-around;
  }
  #function_button{
    /*position: absolute;*/
    width: 220px;
height: 45px;
    background: #24c4c4;
    opacity: 1;
    border-radius: 20px;
    margin: 15px

  }

  .meeting_type_buttons {
    display: flex;
    flex-direction: row;
    align-items: center;
  }

  .input-task {
    height: 32px;
    width: 300px;
    margin-right: 10px;
    padding: 5px;
    border-radius: 5px;
  }
  
  
  
  #admin_container {
    background-color:rgb(61, 9, 104);
    /*align-items: right;*/
    width: 100vw;
    height: 100vh;
    display: flex;
    flex-direction: row-reverse;
    /*justify-content: right;*/
  }
  
  #main_right_container {
    position: absolute;
    width: 80%;
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    flex:4;
    margin: 40px;
    /*left: 238px;
    top: 22px;*/
    
    background: #F9F9F9;
    border-radius: 17px;
  }

  #sidebar{
    display: flex;
    flex-direction: column;
    justify-content: center;
    flex:2;
  }

  #side_bar_buttons{
    display:flex;
    flex-direction: column;
    align-items: left;
    padding-left: 20px;
    justify-content: space-between;
  }